<!DOCTYPE html>
<html>
<head>
    <title>Add User </title>
</head>
<body>
   
    <form name="addUser" method="POST" action="/users/add">
    <table>
        <tr>
        <td>User Name</td>
        <td><input type="text" name="Name" ></td>
        </tr>
        <tr>
        <td>User Age</td>
        <td><input type="text" name="Age" ></td>
        </tr>
    </table>
    <button>Submit</button>
    </form>   
    
</body>
</html>